/* Base Styles */
body {
    background-color: #F4D8CD;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3A2E39;
}
.Nyky{
    color: #F15152;
}
.main-container {
    background-color: #EDB183;
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 60%;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    transition: background 2s ease;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("flowers.png") no-repeat center;
    background-size: contain;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 1;
}
.main-container.fade-in .bg{
    opacity: 1;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: opacity 2s ease;
}
.container.fade-out{
    opacity: 0;
}
.gift-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #1E555C;
    color: #F15152;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
    width: 35%;
}
.gift-button:hover {
    background-color: #19474D;
    color: #F15152;
}
.gift-button img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}
.gift-button .text {
    margin-top: 5px;
    text-align: left;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .main-container {
        width: 80%;
        max-width: 80%;
        height: auto; /* Let the height adjust based on content */
        padding: 10px;
    }
    .gift-button {
        width: 50%;
    }
    h1 {
        font-size: 2em; /* Adjusted font-size for smaller screens */
    }
}

@media screen and (max-width: 414px) {
    .main-container {
        width: 80%;
        height: auto;
        padding: 10px;
        align-items: center;
    }
    .gift-button {
        width: 80%;
        font-size: 1em; /* Smaller font-size for very small screens */
        padding: 8px 0px; /* Smaller padding */
    }
    h1 {
        font-size: 1.8em;
    }
}

/* Styles for the confetti */
#confettiContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make sure the confetti doesn't interfere with button clicks */
    z-index: 1000; /* Ensure it's above everything */
  }
  
  /* Confetti particle style */
  .confetti {
    width: 3px;
    height: 10px;
    position: absolute;
    background-color: #f00; /* Red color for confetti, can be replaced with an image */
    border-radius: 0%;
    pointer-events: none; /* Ensure clicks go through confetti */
    animation: confettiExplode 1.5s ease-out forwards;
  }
  
  @keyframes confettiExplode {
    0% {
      transform: translate(0, 0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: translate(var(--tx), var(--ty)) rotate(720deg); /* Use custom properties for translation */
      opacity: 0;
    }
  }

